*{margin:0; padding:0}
body{background:#f4f4f4}
html, input, textarea, select, div{font-family:Arial; color:#242424; font-size:13px; line-height:16px}

input, select{vertical-align:middle; font-weight:normal}
img{border:0; vertical-align:top; text-align:left}

a:hover{text-decoration:none}

a{color:#fc8e00; font-size:13px}

.clear{clear:both}

.fleft{float:left; background-attachment:fixed; background-repeat:no-repeat; background-position:left bottom; font-size:50px; width:200px; height:40px}
.fright{float:right}

.column1, .column2{float:left}

.alignright{text-align:right}

p{margin:0; padding:0; line-height:16px; font-size:13px}

.tall_top{background:url(images/tall_top.gif) left top repeat-x #f5f5f5}
.tall_bottom{background:url(images/tall_bottom.gif) left bottom repeat-x}

.form{height:24px}
.form input{background:#fff; width:236px}
textarea{width:266px; height:92px; background:#fff; overflow:auto; border-color:#DBDBDB}

ul{list-style:none}
ul li a{line-height:19px}

.title{margin:0 0 15px 0}

.img_indent{margin:0 20px 0 0; float:left}

h1{margin:45px 0 0 49px}

.txt1{color:#fc8e00}

.link1{text-decoration:none; color:#242424}
.link1:hover{text-decoration:underline}

.line_hor{background:url(images/line1.gif) left bottom repeat-x}

#header .row_1{height:40px}
#header .row_1 .fleft h1{margin:5px 0 0 40px}
#header .row_1 .indent{padding:45px 45px 0 0}
#header .row_2{height:8px}
#header .row_2 .indent{padding:16px 0 0 8px}
#header .row_2 a{font-size:13px; color:#153566; text-decoration:none; line-height:24px}
#header .row_2 a:hover{text-decoration:underline}

#content{width:990px; margin:auto}
#content h2{background:url(images/line2.gif) left bottom repeat-x;margin-bottom:16px;font-size:24px;font-weight:bold;}
#content h2 img{margin-left:2px}
#content h3{font-size:13px; margin-bottom:6px; font-weight:bold}

#footer .indent{padding:41px 0 0 26px; color:#686868}
#footer a{color:#686868; text-decoration:none}
#footer a:hover{text-decoration:underline}

#page1 #content .col_1{background:url(images/line1.gif) right top repeat-y}
#page1 #content .col_2{background:url(images/line1.gif) right top repeat-y}
#page1 #content .col_1 .indent{padding:17px 16px 0 16px}
#page1 #content .col_1 .img_indent{margin:0 19px 27px 8px}
#page1 #content .col_1 h3{padding-top:8px}
#page1 #content .col_1 .indent1{padding:0 0 0 7px}
#page1 #content .col_1 .p1{margin-bottom:16px}
#page1 #content .col_1 .p2{margin-bottom:25px}
#page1 #content .col_2 .indent{padding:17px 16px 0 15px}
#page1 #content .col_2 .indent1{padding:0 0 0 9px}
#page1 #content .col_2 h2{margin-bottom:0px}
#page1 #content .col_2 .container1{background:url(images/line2.gif) left bottom repeat-x; width:219px}
#page1 #content .col_2 p{margin-bottom:25px}
#page1 #content .col_2 .p1{margin-bottom:22px}
#page1 #content .col_3 .container1{background:url(images/line2.gif) left bottom repeat-x; width:269px}
#page1 #content .col_3 h2{margin-bottom:0px}
#page1 #content .col_3 .indent{padding:17px 0 0 15px}
#page1 #content .col_3 .indent1{padding:0 0 1px 10px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page1 #content .col_3 .container{width:230px; height:29px}
#page1 #content .col_3 .column1{width:80px}
#page1 #content .col_3 .column2{width:150px; padding-top:3px}
#page1 #content .col_3 p{margin-bottom:28px}
#page1 #content .col_3 .p1{margin-bottom:25px}

#page2 #content .col_1{background:url(images/line1.gif) right top repeat-y}
#page2 #content .col_1 .indent{padding:17px 16px 21px 17px}
#page2 #content .col_1 .img_indent{margin:0 19px 19px 0}
#page2 #content .col_1 h3{padding-top:8px; margin-bottom:4px}
#page2 #content .col_1 .indent1{padding:0 0 0 7px}
#page2 #content .col_1 p{margin-bottom:26px}
#page2 #content .col_1 .p1{margin-bottom:16px}
#page2 #content .col_1 .p2{margin-bottom:33px}
#page2 #content .col_2 .indent{padding:17px 0 16px 15px}
#page2 #content .col_2 .indent1{padding:0 0 1px 9px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page2 #content .col_2 h2{margin-bottom:31px}
#page2 #content .col_2 h3{margin-bottom:5px}
#page2 #content .col_2 .img_indent{margin:0 19px 29px 1px}
#page2 #content .col_2 p{margin-bottom:26px}
#page2 #content .col_2 .alignright{margin-right:6px}
#page2 #content .col_2 .p1{margin-bottom:3px}

#page3 #content .col_1{background:url(images/line1.gif) right top repeat-y}
#page3 #content .col_1 .indent{padding:17px 16px 0 17px}
#page3 #content .col_1 h2{margin-bottom:31px}
#page3 #content .col_1 .img_indent{margin:0 29px 0 0}
#page3 #content .col_1 h3{margin-bottom:5px}
#page3 #content .col_1 .indent1{padding:0 0 0 7px}
#page3 #content .col_1 p{margin-bottom:26px}
#page3 #content .col_1 .p1{margin-bottom:31px}
#page3 #content .col_1 .p2{padding-top:2px; margin-bottom:18px}
#page3 #content .col_2 .indent{padding:17px 0 0 15px}
#page3 #content .col_2 .indent1{padding:0 0 4px 9px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page3 #content .col_2 h2{margin-bottom:31px}
#page3 #content .col_2 h3{margin-bottom:5px}
#page3 #content .col_2 .img_indent{margin:4px 20px 26px 1px}
#page3 #content .col_2 p{margin-bottom:22px}
#page3 #content .col_2 .alignright{margin-right:6px}
#page3 #content .col_2 .p1{margin-bottom:3px}

#page4 #content .col_1{background:url(images/line1.gif) right top repeat-y}
#page4 #content .col_1 .indent{padding:17px 16px 0 17px}
#page4 #content .col_1 .indent1{padding:0 0 30px 7px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:28px}
#page4 #content .col_1 .img_indent{margin:0 19px 0 0}
#page4 #content .col_1 h2{margin-bottom:31px}
#page4 #content .col_1 h3{margin-bottom:2px}
#page4 #content .col_1 p{margin-bottom:26px}
#page4 #content .col_1 .container1{width:330px}
#page4 #content .col_1 .container2{width:330px; padding-top:29px}
#page4 #content .col_2{background:url(images/line1.gif) right top repeat-y}
#page4 #content .col_2 .indent{padding:17px 16px 2px 15px}
#page4 #content .col_2 .indent1{padding:0 0 0 9px}
#page4 #content .col_2 .img_indent{margin:4px 20px 25px 1px}
#page4 #content .col_2 h2{margin-bottom:31px}
#page4 #content .col_2 h3{margin-bottom:5px}
#page4 #content .col_2 p{margin-bottom:22px}
#page4 #content .col_2 .p1{margin-bottom:16px}
#page4 #content .col_3 h2{margin-bottom:31px}
#page4 #content .col_3 h3{margin-bottom:5px}
#page4 #content .col_3 .indent{padding:17px 0 0 15px}
#page4 #content .col_3 .indent1{padding:0 0 25px 9px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page4 #content .col_3 .container{width:230px; height:29px}
#page4 #content .col_3 p{margin-bottom:26px}
#page4 #content .col_3 .p1{margin-bottom:25px}
#page4 #content .col_3 ul{margin-top:25px}

#page5 #content .col_1{background:url(images/line1.gif) right top repeat-y}
#page5 #content .col_1 .indent{padding:17px 16px 21px 17px}
#page5 #content .col_1 h2{margin-bottom:31px}
#page5 #content .col_1 .img_indent{margin:3px 19px 28px 0}
#page5 #content .col_1 h3{margin-bottom:5px}
#page5 #content .col_1 .indent1{padding:0 0 4px 7px;  background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page5 #content .col_1 p{margin-bottom:22px}
#page5 #content .col_1 .p1{margin-top:28px; margin-bottom:0}
#page5 #content .col_1 .p2{padding-top:2px; margin-bottom:18px}
#page5 #content .col_2 .indent{padding:17px 0 0 15px}
#page5 #content .col_2 .indent1{padding:0 0 24px 9px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page5 #content .col_2 h2{margin-bottom:31px}
#page5 #content .col_2 h3{margin-bottom:0px}
#page5 #content .col_2 .img_indent{margin:0 20px 32px 1px}
#page5 #content .col_2 p{margin-bottom:28px}
#page5 #content .col_2 .p1{margin-bottom:33px}

#page6 #content .col_1{background:url(images/line1.gif) right top repeat-y}
#page6 #content .col_1 .indent{padding:17px 16px 20px 17px}
#page6 #content .col_1 .indent1{padding:0 0 30px 7px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:28px}
#page6 #content .col_1 .img_indent{margin:0 19px 0 0}
#page6 #content .col_1 h2{margin-bottom:31px}
#page6 #content .col_1 h3{margin-bottom:2px}
#page6 #content .col_1 p{margin-bottom:26px}
#page6 #content .col_1 .container1{width:330px}
#page6 #content .col_1 .container2{width:330px; padding-top:29px}
#page6 #content .col_2{background:url(images/line1.gif) right top repeat-y}
#page6 #content .col_2 .indent{padding:17px 16px 2px 15px}
#page6 #content .col_2 .indent1{padding:0 0 0 9px}
#page6 #content .col_2 .img_indent{margin:4px 19px 25px 1px}
#page6 #content .col_2 h2{margin-bottom:31px}
#page6 #content .col_2 h3{margin-bottom:5px}
#page6 #content .col_2 p{margin-bottom:22px}
#page6 #content .col_2 .p1{margin-bottom:16px}
#page6 #content .col_2 ul{margin-bottom:27px}
#page6 #content .col_3 h2{margin-bottom:31px}
#page6 #content .col_3 h3{margin-bottom:5px}
#page6 #content .col_3 .indent{padding:17px 0 0 15px}
#page6 #content .col_3 .indent1{padding:0 0 25px 9px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page6 #content .col_3 p{margin-bottom:26px}

#page7 #content .col_1{background:url(images/line1.gif) right top repeat-y}
#page7 #content .col_1 .indent{padding:17px 16px 21px 17px}
#page7 #content .col_1 h2{margin-bottom:31px}
#page7 #content .col_1 .img_indent{margin:0 29px 25px 0}
#page7 #content .col_1 h3{margin-bottom:5px}
#page7 #content .col_1 .indent1{padding:0 0 26px 7px;  background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page7 #content .col_1 p{margin-bottom:26px}
#page7 #content .col_1 .p1{margin-bottom:31px}
#page7 #content .col_1 .p2{padding-top:2px; margin-bottom:18px}
#page7 #content .col_2 .indent{padding:17px 0 0 15px}
#page7 #content .col_2 .indent1{padding:0 0 3px 9px; background:url(images/line2.gif) left bottom repeat-x; margin-bottom:27px}
#page7 #content .col_2 h2{margin-bottom:31px}
#page7 #content .col_2 h3{margin-bottom:5px}
#page7 #content .col_2 .img_indent{margin:4px 20px 26px 1px}
#page7 #content .col_2 p{margin-bottom:23px}
#page7 #content .col_2 ul{margin-bottom:28px}
#page7 #content .col_2 .alignright{margin-right:6px}
#page7 #content .col_2 .p1{margin-bottom:3px}

#page8 #content .col_1{background:url(images/line1.gif) right top repeat-y}
#page8 #content .col_1 .indent{padding:17px 16px 2px 16px}
#page8 #content .col_1 h2{margin-bottom:31px}
#page8 #content .col_1 .img_indent{margin:3px 19px 28px 0}
#page8 #content .col_1 h3{margin-bottom:0px}
#page8 #content .col_1 .indent1{padding:0 0 4px 7px}
#page8 #content .col_1 p{margin-bottom:16px}
#page8 #content .col_1 .p1{margin-top:28px; margin-bottom:0}
#page8 #content .col_1 .p2{padding-top:2px; margin-bottom:18px}
#page8 #content .col_2 .indent{padding:17px 0 0 15px}
#page8 #content .col_2 .indent1{padding:0 0 22px 9px}
#page8 #content .col_2 h2{margin-bottom:23px}
#page8 #content .col_2 h3{margin-bottom:5px; padding-top:8px}
#page8 #content .col_2 .img_indent{margin:0 21px 32px 0}
#page8 #content .col_2 p{margin-bottom:28px}
#page8 #content .col_2 .p1{margin-bottom:33px}
#page8 #content .col_2 .column1{width:310px}
#page8 #content .col_2 .column2{width:270px}

#page9 #content .col_1 .indent{padding:17px 0 2px 16px}
#page9 #content .col_1 h2{margin-bottom:31px}
#page9 #content .col_1 .indent1{padding:0 0 0 8px}
#page9 #content .col_1 h3{margin-bottom:4px}
#page9 #content .col_1 p{margin-bottom:16px}
#page9 #content .col_1 .p1{margin-bottom:21px}

.but{width:64px; font-size:13px; background:url(images/but_center.gif) left top repeat-x}
.but .left{background:url(images/but_left.gif) no-repeat left top}
.but .right{background:url(images/but_right.gif) no-repeat right top}
.but .ind{padding:3px 0 4px 0; text-align:center}
.but a{color:#FFF; text-decoration:none}
.but a:hover{color:#000}

.header_but{background:url(images/header_but_center.gif) left top repeat-x; width:226px}
.header_but .left{background:url(images/header_but_left.gif) no-repeat left top}
.header_but .right{background:url(images/header_but_right.gif) no-repeat right top}
.header_but .ind{padding:9px 6px 15px 0; text-align:center}
.header_but a{font-size:13px}
